In [1]:
import pandas as pd
import numpy as np

In [4]:
time_table = pd.read_csv('./input/seoul_metro.csv', encoding="cp949", low_memory=False)

In [20]:
line_1 = time_table[(time_table['방향'] == 'UP') & (time_table['주중주말'] == 'DAY') & (time_table['급행여부'] == 0) & (time_table['호선'] == 1)].copy()

In [24]:
line_1

        고유번호  호선  역사코드  역사명 주중주말  방향  급행여부  열차코드    열차도착시간    열차출발시간  출발역  도착역
241      242   1   150  서울역  DAY  UP     0   K10  06:47:30  06:48:00   인천  동두천
242      243   1   150  서울역  DAY  UP     0  K100  14:29:30  14:30:00   인천  광운대
243      244   1   150  서울역  DAY  UP     0  K106  15:03:30  15:04:00   인천  소요산
244      245   1   150  서울역  DAY  UP     0  K108  15:12:30  15:13:00   인천   양주
245      246   1   150  서울역  DAY  UP     0  K110  15:24:30  15:25:00   인천  의정부
...      ...  ..   ...  ...  ...  ..   ...   ...       ...       ...  ...  ...
88431  88432   1  1919   연천  DAY  UP     0  K816  15:27:00       NaN   인천   연천
88432  88433   1  1919   연천  DAY  UP     0  K818  16:24:00       NaN   인천   연천
88433  88434   1  1919   연천  DAY  UP     0  K952  06:13:00       NaN  광운대   연천
88434  88435   1  1919   연천  DAY  UP     0  K958  06:46:00       NaN  광운대   연천
88435  88436   1  1919   연천  DAY  UP     0  K962  07:13:30       NaN  광운대   연천

[11747 rows x 12 columns]

In [33]:
line_1[(line_1['출발역'] == '인천') & (line_1['도착역'] == '소요산') & (line_1['열차코드'] == "K106")]

,고유번호,호선,역사코드,역사명,주중주말,방향,급행여부,열차코드,열차도착시간,열차출발시간,출발역,도착역
243,244,1,150,서울역,DAY,UP,0,K106,15:03:30,15:04:00,인천,소요산
1655,1656,1,151,시청,DAY,UP,0,K106,15:06:00,15:06:30,인천,소요산
3061,3062,1,152,종각,DAY,UP,0,K106,15:08:30,15:09:00,인천,소요산
4467,4468,1,153,종로3가,DAY,UP,0,K106,15:10:30,15:11:00,인천,소요산
5873,5874,1,154,종로5가,DAY,UP,0,K106,15:12:30,15:13:00,인천,소요산
...,...,...,...,...,...,...,...,...,...,...,...,...
86559,86560,1,1912,지행,DAY,UP,0,K106,16:16:30,16:17:00,인천,소요산
86919,86920,1,1913,동두천중앙,DAY,UP,0,K106,16:18:30,16:19:00,인천,소요산
87279,87280,1,1914,보산,DAY,UP,0,K106,16:21:00,16:21:30,인천,소요산
87639,87640,1,1915,동두천,DAY,UP,0,K106,16:23:30,16:24:00,인천,소요산
87968,87969,1,1916,소요산,DAY,UP,0,K106,16:27:30,NaN,인천,소요산

In [36]:
line_1[(line_1['열차코드'] == "K112")].sort_values(by=['열차출발시간'], ascending=False)

        고유번호  호선  역사코드  역사명 주중주말  방향  급행여부  열차코드    열차도착시간    열차출발시간 출발역 도착역
88297  88298   1  1918   전곡  DAY  UP     0  K112  17:11:00  17:11:30  인천  연천
88179  88180   1  1917   청산  DAY  UP     0  K112  17:07:30  17:08:00  인천  연천
87969  87970   1  1916  소요산  DAY  UP     0  K112  17:02:30  17:03:00  인천  연천
87640  87641   1  1915  동두천  DAY  UP     0  K112  16:55:30  16:59:00  인천  연천
87280  87281   1  1914   보산  DAY  UP     0  K112  16:53:00  16:53:30  인천  연천
...      ...  ..   ...  ...  ...  ..   ...   ...       ...       ...  ..  ..
67928  67929   1  1810  제물포  DAY  UP     0  K112  14:35:30  14:36:00  인천  연천
75486  75487   1  1817   도원  DAY  UP     0  K112  14:33:30  14:34:00  인천  연천
69064  69065   1  1811  동인천  DAY  UP     0  K112  14:31:30  14:32:00  인천  연천
70110  70111   1  1812   인천  DAY  UP     0  K112       NaN  14:28:00  인천  연천
88415  88416   1  1919   연천  DAY  UP     0  K112  17:19:00       NaN  인천  연천

[65 rows x 12 columns]